#product-box{
 margin-top: 2rem;
 display: flex;
 flex-wrap: wrap;
}
textarea{
    resize: none;
}
.card{
    margin: 2rem;
}
.card-title{
    font-weight: bold;
}
.card-img-top{
    height: 50%;
}
.title{
    font-size: 2rem;
    font-weight: bold;
}
.price{
    color: black !important;
}
.filter-sort{
    /* display: flex; */
    margin: 5%;
    /* justify-items: center; */
}
/* .sort{
    margin: 5%;
}

.filter{
    margin: 5%;
} */
