#product-box{
 margin: 2rem auto;
 display: flex;
 flex-wrap: wrap;

 align-items: center;
 justify-content: flex-start;
}
textarea{
    resize: none;
}
.card{
    display: flex;
    /* margin: 1.5rem ; */
    height: 100%;
    align-items: center;
}
.card-title{
    font-weight: bold;
}
.card-img-top{
    height: 100%;
    height: 222px;
}
.card-img-top img{
    height: 100%;
    width: 100%;
}
.title{
    font-size: 2rem;
    font-weight: bold;
}

.filter-sort{
    /* display: flex; */
    margin: 5%;
    /* justify-items: center; */
}
nav{
    margin-bottom: 2%;
}
.nav-item{
    margin: 2% 5%;
}
.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    font-weight: bolder;

}
.fa-solid{
    color: white;
}
.form-select{
    width: 100%;
    /* margin-right: 10px; */
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
}
.search{
    align-items: center;
}
.card-text{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 48px;
  margin:0;
}
.description{
    margin-bottom: 10px;
}
.card-button-group{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.card-details{
    height: 100%;
    /* min-height: 222px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-body{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* max-width: 18rem; */
}
.d-flex{
    gap:10px
}
.search{
   flex-direction: row;
}
.product{
    max-width: 1500px;
    width: 100%;
}

@media screen and (max-width:775px) {
    .search{
        flex-direction: column;
    }
    #product-box{
        justify-content: center;
    }
}