#product-box{
 margin-top: 2rem;
 display: flex;
 flex-wrap: wrap;
}
textarea{
    resize: none;
}
.card{
    display: flex;
    margin: 1.5rem;
}
.card-title{
    font-weight: bold;
}
.card-img-top{
    height: 100%;
    max-height: 180px;
}
.card-img-top img{
    height: 100%;
    width: 100%;
}
.title{
    font-size: 2rem;
    font-weight: bold;
}
.price{
    color: black !important;
}
.filter-sort{
    /* display: flex; */
    margin: 5%;
    /* justify-items: center; */
}
nav{
    margin-bottom: 2%;
}
.nav-item{
    margin: 2% 5%;
}
.navbar-brand{
    font-size: larger;
    font-weight: bolder;

}
.fa-solid{
    color: white;
}
.form-select{
    width: 100%;
    margin-right: 10px;
}
button{
    margin: 0 0.5rem;
}
.btn{
    margin: 0 10px;
}
.search{
    align-items: center;
}
.card-text{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    height:100%;
    max-height: 180px;
}
